@media(max-width: 480px){
.nav-links ul li{
	 display: block;
 }
nav img{
	width: 275px;
}
.header{
	min-height: 180vh;
	width:100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/DICT.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}
.nav-links{
	position: fixed;
	background: #840032;
	height: 100vh;
	width: 200px;
	top: 0;
	right: -200;
	text-align: left;
	z-index: 10;
	transition: 0.5s;
}
nav .fa{
	display: block;
	color: #fff;
	margin: 10px;
	font-size: 22px;
	cursor: pointer;
	text-align: right;
}
.nav-links ul{
	padding: 30px; 
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
.nav-links ul li a{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	padding:  0 15px;
	line-height:  50px;
}
.nav-links ul li a:hover{
	background: #002642;
	border-radius: 20px;
	opacity: 80%;
}
.nav-links ul ul{
	position: relative;
	top: 10px;
	display: none;
}
.nav-links ul li:hover > ul{
	display: block;
}
nav-links ul ul li{
	width: 100%;
	float: none;
	display: none;
	position: relative;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #002642;
	display: none;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
}



 
form.example input[type=text] {
	padding: 10px;
	font-size: 15px;
	border: 1px solid grey;
	float: left;
	width: 75%;
	background: #f1f1f1;
}
form.example button {
	float: left;
	width: 25%;
	padding: 1px;
	background: #2196F3;
	color: white;
	font-size: 10px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
	border-radius: 20px;
}
form.example button:hover {
	background: #002642;
}
div.example::after {
	content: "";
	clear: both;
	display: table;
}		

}