*	
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.text-box1{
    width: 100%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.profilebox1{
	width: 350px;
	height: 600px;
	background: whitesmoke;
	color: #fff;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 40px;
	border-radius: 8px;
	border: 5px solid black;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}
h1{
	margin: 0;
	padding: 0 0 20px;
	color: #000000;
	text-align: center;
	font-size: 20px;
}
.profilebox1 p{
	margin: 0;
	padding: 0;
	color: #000000;
	font-weight: bold;
}
.profilebox1 input{
	width: 100%;
	margin-bottom: 20px;
}
.profilebox1 input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	outline: none;
	height: 40px;
	color: #000000;
	font-size: 16px;
}
.profilebox1 input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #840032;
	color: #fff;
	font-size: 18px;
	border-radius: 8px;
}
.profilebox1 input[type="submit"]:hover{
	cursor: pointer;
	background: aquamarine;
	color: #fff;
}
.profilebox1 a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.profilebox1 input[type="button"]{
	border: none;
	outline: none;
	height: 40px;
	background: #840032;
	color: #fff;
	font-size: 18px;
	border-radius: 8px;
}
.profilebox1 input[type="button"]:hover{
	cursor: pointer;
	background: #042444;
	color: #fff;
}







@media(max-width: 600px){
	.profilebox1{
	width: 350px;
	background: whitesmoke;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px;
	border: 5px solid black;
	background-attachment: fixed;
}
}
