 .row{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}
 .uactivities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
 }

.activities-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position:relative;
	overflow:hidden;
 }
.activities-col img{
	width: 100%;
	height: 200px;
	display: block;
	margin-bottom: 5%;
}
.layer{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(00,26,42,0.3);
}
input[type='submit']{
	width: 90%;
	font-family: sans-serif;
	height: 35px;
	border-radius: 10px;
	font-size: 18px;
	background-color: white;
	border-color:grey;
}

input[type='submit']:hover{
	opacity: 0.9px;
	background-color: rgba(0, 0, 0, 0.473);
	color: white;
	
}


@media screen and (max-width: 480px) {
	.row{
		flex-direction: column;
	}
	.activities-col img{
	width: 80%;
	margin-left: 50px;
}
.activities-col img{
	margin: auto;
}
input[type='submit']{
	width: 90%;
	
}

}