body {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../header/DICT.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.panel-body {
    width: 90%;
    margin: auto;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    position: relative;
}

.container {
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 50px;
    padding-bottom: 15px;
}

.searchBox {
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
    position: relative;
}