.tactivities{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
 }
 
.activities-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position:relative;
	overflow:hidden;
 }
.activities-col img{
	width: 100%;
	display: block;
}
.layer{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}
.layer:hover{
	background: rgba(00,26,42,0.3);
}

@media(max-width: 600px){
	.row{
		flex-direction: column;
	}
	.activities-col img{
	width: 80%;
	margin-left: 50px;
}
}